* {
	font-family: 'Oxygen', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#game div {
	border: 3px solid black;
	width: 15%;
	height: 200px;
	margin: 10px;
	display: inline-block;
	background-color: black;
}

body {
	height: 100vh;
	background-color: #99968c;
}

h1 {
	color: #4480aa;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

#restart {
	text-align: right;
}

button {
	background-color: orange;
	border-radius: 12%;
}
